body {
  background-color: #edf2f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;

  margin: 5rem auto;
  display: grid;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}

.daniel {
  grid-area: daniel;
}
.jonathan {
  grid-area: jonathan;
}
.kira {
  grid-area: kira;
}
.jeanette {
  grid-area: jeanette;
}
.patrick {
  grid-area: patrick;
}

.card {
  border-radius: 1rem;
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #696e77;
}

.card header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card header .header-username {
  margin-left: 0.7rem;
}
.card header .header-username h3 {
  margin-bottom: 0;
}
.card header .header-username p {
  opacity: 0.5;
  margin-top: 0;
}

.card header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #50394c;
}

.card-userdesc-up {
  font-size: 2rem;
  font-weight: bold;
}

.card-userdesc-down {
  opacity: 0.5;
  line-height: 1.4rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

.bg-purple,
.bg-grey,
.bg-black {
  color: white;
}

.bg-purple {
  background-color: #733fc8;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 7rem;
}

.bg-grey {
  background-color: #49556b;
}

.bg-black {
  background-color: #18202d;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "daniel"
      " jonathan"
      "jeanette"
      "patrick"
      " kira";
  }
}
